/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		@apply font-spacegrotesk;
	}

	p {
		@apply font-inter;
	}

	a {
		@apply hover:no-underline !important;
	}
}
